.signin__header {
  position: absolute;
  font-family: $font-header;
  letter-spacing: 0.25rem;
  color: $color-primary-light;
  text-align: center;
  margin-top: 4.5rem;
  font-size: 5rem;
  margin-right: 45rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
